<ion-view view-title="Playlists">
  <ion-content>
  	<div class="list">
      <a ng-repeat="playlist in playlists" 
           class="item item-thumbnail-left" href="#/app/playlists/{{playlist.id}}">
		    <img src="../img/ionic.png">
        <h2>Artiste : {{ playlist.group }}</h2>
        <p>Chanson : {{ playlist.title }}</p>
        <p>Type : {{ playlist.type }}</p>
		    <div class="button button-small icon-right ion-chevron-right button-calm">Ecouter la musique</div>
      </a>
    </div>
  </ion-content>
</ion-view>
